@font-face {
  font-family: "Teletext Type 1";
  src: url("../typefaces/TeletextType1/TeletextType1-Regular.woff2")
      format("woff2"),
    url("../typefaces/TeletextType1/TeletextType1-Regular.otf") format("otf"),
    url("../typefaces/TeletextType1/TeletextType1-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Teletext Type 3";
  src: url("../typefaces/TeletextType3/TeletextType3-Regular.woff2")
      format("woff2"),
    url("../typefaces/TeletextType3/TeletextType3-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeSpeed;
}

@font-face {
  font-family: "TeleText Type 2";
  src: url("../typefaces/TeletextType2/TeleTextType2-Regular.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("../typefaces/TeletextType2/TeleTextType2-Regular.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Secret-VF";
  src: url("../typefaces/Odiosis/Secret-VF.ttf") format("truetype");
  font-weight: 100 1000;
}

@font-face {
  font-family: "ApexVar";
  src: url("../typefaces/ApexVar/Apex.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "New Austin";
  src: url("../typefaces/NewAustin/New-Austin-Grunge.woff2") format("woff2"),
    url("../typefaces/NewAustin/New-Austin-Grunge.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "invetero";
  src: url("../typefaces/invetero/invetero-Regular.woff2") format("woff2"),
    url("../typefaces/invetero/invetero-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karolin";
  src: url("../typefaces/Karolin/FelixKaro-Regular.eot");
  src: url("../typefaces/Karolin/FelixKaro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typefaces/Karolin/FelixKaro-Regular.woff") format("woff"),
    url("../typefaces/Karolin/FelixKaro-Regular.woff2") format("woff2"),
    url("../typefaces/Karolin/FelixKaro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Rock Radio";
  src: url("../typefaces/CaptainLoggins/Captain-Loggins-Rocks.eot");
  src: url("../typefaces/CaptainLoggins/Captain-Loggins-Rocks.eot?#iefix")
      format("embedded-opentype"),
    url("../typefaces/CaptainLoggins/Captain-Loggins-Rocks.woff") format("woff"),
    url("../typefaces/CaptainLoggins/Captain-Loggins-Rocks.woff2")
      format("woff2"),
    url("../typefaces/CaptainLoggins/Captain-Loggins-Rocks.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Bootshaus";
  src: url("../typefaces/Bootshaus/Bootshaus-Regular.woff2") format("woff2"),
    url("../typefaces/Bootshaus/Bootshaus-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frontier Pursuits";
  src: url("../typefaces/FrontierPursuits/Frontier.woff2") format("woff2"),
    url("../typefaces/FrontierPursuits/Frontier.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candybox";
  src: url("../typefaces/Candybox/Candybox-Regular.woff2") format("woff2"),
    url("../typefaces/Candybox/Candybox-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bennys";
  src: url("../typefaces/Benny/Benny-Regular.eot");
  src: url("../typefaces/Benny/Benny-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typefaces/Benny/Benny-Regular.woff") format("woff"),
    url("../typefaces/Benny/Benny-Regular.woff2") format("woff2"),
    url("../typefaces/Benny/Benny-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/*
@font-face {
    font-family: "ViceVersa-Thin";
    src: url('../typefaces/ViceVersa/ViceVersa-Thin.woff2') format('woff2'),
        url('../typefaces/ViceVersa/ViceVersa-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ViceVersa-Black";
    src:
        url('../typefaces/ViceVersa/ViceVersa-Black.woff') format('woff'),
        url('../typefaces/ViceVersa/ViceVersa-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ViceVersa-Medium";
    src:
        url('../typefaces/ViceVersa/ViceVersa-Medium.woff') format('woff'),
        url('../typefaces/ViceVersa/ViceVersa-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ViceVersa-Regular";
    src:
    url('../typefaces/ViceVersa/ViceVersa-Regular.woff') format('woff'),
        url('../typefaces/ViceVersa/ViceVersa-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}







@font-face {
    font-family: 'CaptainLoggins Regular';
    src: url('../typefaces/CaptainLoggins/Captain-Loggins-Regular.eot');
    src: url('../typefaces/CaptainLoggins/Captain-Loggins-Regular.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/CaptainLoggins/Captain-Loggins-Regular.woff') format('woff'),
         url('../typefaces/CaptainLoggins/Captain-Loggins-Regular.woff2') format('woff2'),
         url('../typefaces/CaptainLoggins/Captain-Loggins-Regular.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Benny Smooth';
    src: url('../typefaces/Benny/Benny-Smooth.eot');
    src: url('../typefaces/Benny/Benny-Smooth.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Benny/Benny-Smooth.woff') format('woff'),
         url('../typefaces/Benny/Benny-Smooth.woff2') format('woff2'),
         url('../typefaces/Benny/Benny-Smooth.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



@font-face {
    font-family: 'Benny Outlaw';
    src: url('../typefaces/Benny/Benny-Outlaw.eot');
    src: url('../typefaces/Benny/Benny-Outlaw.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Benny/Benny-Outlaw.woff') format('woff'),
         url('../typefaces/Benny/Benny-Outlaw.woff2') format('woff2'),
         url('../typefaces/Benny/Benny-Outlaw.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Benny Western';
    src: url('../typefaces/Benny/Benny-Western.eot');
    src: url('../typefaces/Benny/Benny-Western.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Benny/Benny-Western.woff') format('woff'),
         url('../typefaces/Benny/Benny-Western.woff2') format('woff2'),
         url('../typefaces/Benny/Benny-Western.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Benny College';
    src: url('../typefaces/Benny/Benny-College.eot');
    src: url('../typefaces/Benny/Benny-College.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Benny/Benny-College.woff') format('woff'),
         url('../typefaces/Benny/Benny-College.woff2') format('woff2'),
         url('../typefaces/Benny/Benny-College.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Benny Grunge';
    src: url('../typefaces/Benny/Benny-Grunge.eot');
    src: url('../typefaces/Benny/Benny-Grunge.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Benny/Benny-Grunge.woff') format('woff'),
         url('../typefaces/Benny/Benny-Grunge.woff2') format('woff2'),
         url('../typefaces/Benny/Benny-Grunge.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



@font-face {
    font-family: 'Gouranga Line';
    src: url('../typefaces/Gouranga/Gouranga-Line.eot');
    src: url('../typefaces/Gouranga/Gouranga-Line.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Gouranga/Gouranga-Line.woff') format('woff'),
         url('../typefaces/Gouranga/Gouranga-Line.woff2') format('woff2'),
         url('../typefaces/Gouranga/Gouranga-Line.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Gouranga Shadow';
    src: url('../typefaces/Gouranga/Gouranga-Shadow.eot');
    src: url('../typefaces/Gouranga/Gouranga-Shadow.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Gouranga/Gouranga-Shadow.woff') format('woff'),
         url('../typefaces/Gouranga/Gouranga-Shadow.woff2') format('woff2'),
         url('../typefaces/Gouranga/Gouranga-Shadow.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Gouranga Outline';
    src: url('../typefaces/Gouranga/Gouranga-Outline.eot');
    src: url('../typefaces/Gouranga/Gouranga-Outline.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Gouranga/Gouranga-Outline.woff') format('woff'),
         url('../typefaces/Gouranga/Gouranga-Outline.woff2') format('woff2'),
         url('../typefaces/Gouranga/Gouranga-Outline.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Apex';
    src: url('../typefaces/ApexNeue/ApexLegends-Regular.eot');
    src: url('../typefaces/ApexNeue/ApexLegends-Regular.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/ApexNeue/ApexLegends-Regular.woff') format('woff'),
         url('../typefaces/ApexNeue/ApexLegends-Regular.woff2') format('woff2'),
         url('../typefaces/ApexNeue/ApexLegends-Regular.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Fractured 3D';
    src: url('../typefaces/Fractured/Fractured-3D.eot');
    src: url('../typefaces/Fractured/Fractured-3D.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Fractured/Fractured-3D.woff') format('woff'),
         url('../typefaces/Fractured/Fractured-3D.woff2') format('woff2'),
         url('../typefaces/Fractured/Fractured-3D.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fractured Army';
    src: url('../typefaces/Fractured/Fractured-Army.eot');
    src: url('../typefaces/Fractured/Fractured-Army.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Fractured/Fractured-Army.woff') format('woff'),
         url('../typefaces/Fractured/Fractured-Army.woff2') format('woff2'),
         url('../typefaces/Fractured/Fractured-Army.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fractured Grunge';
    src: url('../typefaces/Fractured/Fractured-Grunge.eot');
    src: url('../typefaces/Fractured/Fractured-Grunge.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Fractured/Fractured-Grunge.woff') format('woff'),
         url('../typefaces/Fractured/Fractured-Grunge.woff2') format('woff2'),
         url('../typefaces/Fractured/Fractured-Grunge.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Fractured Stencil';
    src: url('../typefaces/Fractured/Fractured-Stencil.eot');
    src: url('../typefaces/Fractured/Fractured-Stencil.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Fractured/Fractured-Stencil.woff') format('woff'),
         url('../typefaces/Fractured/Fractured-Stencil.woff2') format('woff2'),
         url('../typefaces/Fractured/Fractured-Stencil.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
*/

@font-face {
  font-family: "Gouranga";
  src: url("../typefaces/Gouranga/Gouranga-Pixel.eot");
  src: url("../typefaces/Gouranga/Gouranga-Pixel.eot?#iefix")
      format("embedded-opentype"),
    url("../typefaces/Gouranga/Gouranga-Pixel.woff") format("woff"),
    url("../typefaces/Gouranga/Gouranga-Pixel.woff2") format("woff2"),
    url("../typefaces/Gouranga/Gouranga-Pixel.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Ubermacht";
  src: url("../typefaces/Ubermacht/Ubermacht-Regular.eot");
  src: url("../typefaces/Ubermacht/Ubermacht-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typefaces/Ubermacht/Ubermacht-Regular.woff") format("woff"),
    url("../typefaces/Ubermacht/Ubermacht-Regular.woff2") format("woff2"),
    url("../typefaces/Ubermacht/Ubermacht-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Fractured";
  src: url("../typefaces/Fractured/Fractured-Regular.eot");
  src: url("../typefaces/Fractured/Fractured-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typefaces/Fractured/Fractured-Regular.woff") format("woff"),
    url("../typefaces/Fractured/Fractured-Regular.woff2") format("woff2"),
    url("../typefaces/Fractured/Fractured-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Declasse";
  src: url("../typefaces/Declasse/Declasse-Regular.eot");
  src: url("../typefaces/Declasse/Declasse-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../typefaces/Declasse/Declasse-Regular.woff") format("woff"),
    url("../typefaces/Declasse/Declasse-Regular.woff2") format("woff2"),
    url("../typefaces/Declasse/Declasse-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.new-austin {
  font-family: "New Austin";
}
.invetero {
  font-family: "invetero";
}
.secret {
  font-family: "Secret-VF";
}
.bootshaus {
  font-family: "Bootshaus";
}
.frontier-pursuits {
  font-family: "Frontier Pursuits";
}

.ubermacht {
  font-family: "Ubermacht";
}
.declasse {
  font-family: "Declasse";
}

.fractured {
  font-family: "Fractured";
}

.gouranga {
  font-family: "Gouranga";
}

.candybox {
  font-family: "Candybox";
}

.rock-radio {
  font-family: "Rock Radio";
}

.apex {
  font-family: "ApexVar";
}

.bennys {
  font-family: "Bennys";
}
