:root {
	--tt1-font-size: 20px;
}

*{
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
body {
	font-family: "Teletext Type 1";
	background-color: black;
	color: white;
	margin: 0;
	font-size: var(--tt1-font-size);
}
p {
	font-size: var(--tt1-font-size);
	line-height: 120%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

main {
	padding: 0px 30px;
}

a{
	text-decoration: none;
}
/* NAVIGATION */

.navbar-header {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	height: 8vh;
	background-color: black;
	align-items: center;
	border-bottom: white 2px solid;
	justify-content: flex-start;
}

.navbar-left{

	display: flex;
	align-items: center;
}

.navbar-left * {
	margin-right: 20px;
}

.navbar-right {

	position: absolute;
	right: 20px;
}


#dateDisplay{
	margin-right: 40px;
}

.nav-buttons {
	font-family:  'Teletext Type 1';
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.burger-menu {
	display: none;
	position: absolute;
	right: 20px;
	align-items: center;
}

.burger-menu p{
	font-size: 35px;
	user-select: none;
}
.index {
	padding: 12px 0px;
}

/* Programm Input */
.indexInput {
	background-color: black;
	border: none;
	appearance: none;

	background: black;
	font-size: var(--tt1-font-size);
	font-family: "Teletext Type 1";
	color: yellow;
	width: 65px;
	outline: none;
	border-bottom: red 4px solid;
}
.indexInput::placeholder {
	color: white;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}



/* NAVIGATION */


.flex-breakline{
	margin: 35px 0px ;
	display: flex;
	justify-content: space-around;
	background-color: blue;
}

.flex-breakline h4 {
	font-size: var(--tt1-font-size);
	padding: 0px 30px;
	background-color: black;
}


/* HOME FONT SHOWCASE */

.font-showcase {
	display: flex;
	flex-flow: column;
}

.font-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "div div div";
	grid-gap: 40px;
}

.fontPreview {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	font-size: 2.5vw;
	cursor: pointer;
	user-select: none;
	transition:  0.1s ease-in-out;
	border: solid 0px transparent;

}
.fontPreview:hover {
	border: solid 5px red;

}

div h3 {
	font-weight: normal;
	align-items: center;
	
}






/* <fonts> */

.candybox {
	font-family: "Candybox";
	font-size: 8vh;
}

.secret{
	font-family: "Secret-VF" ;
	font-weight: 100;
	font-size: 5vh;
}

.bootshaus {
	font-family: "Bootshaus";
	font-size: 8vh;
}

.fractured {
	font-family: "Fractured Regular";
	text-transform: uppercase;
	font-size: 7vh;
}
.inuetero {
	font-family: "invetero";
}
.frontierpursuits {
	font-family: "Frontier Pursuits";
	line-height: 120%;
	font-size: 6vh;

}
.ubermacht {
	font-family: "Ubermacht";
	text-transform: uppercase;
	font-size: 6vh;
}
.viceversa {
	font-family: "ViceVersa-Regular";
	font-size: 8vh;
}
.viceversa:hover {
	font-family: "ViceVersa-Medium";
}
.freisinger{
	font-family: "Freisinger Sans";
	font-weight: 100;
	font-size: 5vh;
	text-transform: uppercase;
}

.newaustin {
	font-family: "New Austin";
	font-size: 7vh;
	font-feature-settings: "calt" 0;
}

.declasse {
	font-family: "Declasse";
	text-transform: lowercase;
	font-size: 12vh;
}

.apex {
	font-family: "Apex";
	font-size: 8vh;
	text-transform: uppercase;
}

.captain-loggins {
	font-family: "CaptainLoggins Rocks";
	text-transform: uppercase;
	font-size: 6vh;
}

.bennys {
	font-family: "Benny Regular";
	font-size: 7vh;
}

.karolin {
	font-family: "Karolin";
	font-size: 9vh;
	
}

.gouranga {
	font-family: "Gouranga Pixel";
	font-size: 7vh;
	
}

.showcase {
	margin: 15px 0px;
}





#logoText {
	padding-left: 20px;
	line-height: 1.2;

}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.pageLogo{
	height: 100px;
}

.newsfeed p {
	padding: 10px;
}
.newsfeed {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: blue;
	height: 100%;
	color: white;

}


.grid {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	align-items: center;
}


.text-center {
	text-align: center;
}
/* FOOTER */
footer {
	background-color: blue;
}
.advert {
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	height: 80px;
	background-color: cyan;
	font-family: "TeleText Type 2";
	font-size: 50px;
}

.footer-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "div div div";	
	gap: 20px;			
}


.advert div{
	padding: 0px 20px;
}
.footer-list {
	font-family: "Teletext Type 1";
	color: white;
	padding: 0 20px;
}

.copyright {
	background-color: black;
	height: 50px;
	justify-content: center;
	display: flex;
	align-items: center;
}
.copyright p{
	text-align: center;
	user-select: none;
}
/*
ul{
	max-width: 100%;
	padding: 0;
	overflow-x: hidden;
	list-style: none;
}
	li:before {
	  float: left;
	  width: 0;
	  white-space: nowrap;
	  color: white;
	  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	}
	
	span:first-child {
		background: blue;
	}
	
	span + span {
	  float: right;
	  background: blue;

	}
li {
	padding: 10px 0;
}
*/	

/*
ul{
	display: table;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
li {
	display: table-row;
}
.footer-link, span{
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 10px;
}
.footer-link {
	text-align: left;
}
span {
	text-align: right;
}
*/

.mtop {
	margin-top: 100px;
}

.grid-index {

	display: grid;
	grid-template-areas: ".grid-index-headline .index-headline"
						 ".grid-index-headline .index-filler";
	grid-template-columns: 30% 60%;
}
.grid-index-headline{
	background-color: rgb(96, 96, 224);
	color: white;

	height:100%;
	height: 150px;
}

.index-filler{
	background-color: blue;


}
.index-heafidline {

	background-color: white;
	color: blue;

}

@media (max-width:1400px) {
	:root {
		--tt1-font-size: 18px;
	}
}

@media (max-width: 1285px) {
	.font-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "div div";
	}

	#dateDisplay {
		display: none;
	}
	

}

.nav-container {
	padding: 0 20px;
	background-color: turquoise;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-list {
	list-style: none;
	display: flex;

}

.set-right{
	margin-left: auto;
}

.nav-list-item {
	margin: 0 10px;
}

.nav-logo {
	margin-right:10px;
}

.nav-list-btn {
	background-color: tomato;
	padding: 12px 20px;
	text-align: center;
}

.nav-burger {
	display: none;
}


@media (max-width: 768px) {
	.font-grid {
		grid-template-columns: 1fr;
		grid-template-areas: "div";
	}

	.nav-container {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		transition: all .2s ease-in-out;
	}
	.nav-list {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.set-left li{
		margin-top: 20px;
	}
	.nav-list-item {
		width: 100%;
	}



	.set-left.active .nav-list-btn {
		width: 100%;
		display: block ;
		padding: 20px 20px;
		transition: all 0.5s ease-in-out;
	}
	.set-left .nav-list-btn {
		display: none;
		transition: all 0.5s ease-in-out;
	}
	
	.nav-container.active {
		height: 400px;
		transition: all .2s ease-in-out;
	}

	.set-right {
		display: none;
	}
	.nav-burger {
		display: unset;
	}
	
	.user-interact {
		margin-top: 26px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}









/*
	.burger-menu {
		display: unset;
		position: absolute;
		right: 20px;
		top: 20px;
	}

	.navbar-header *{
		margin: 0;
	}
	
	#dateDisplay {
		display: unset;
	}

	.nav-buttons {
		margin-top: 20px;
		width: 100%;
	}

	.navbar-header {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		
	}

	.index {
		position: absolute;
		left: 20px;
		top: 20px;
	}

	.navbar-left, .navbar-right {
		flex-direction: column;
		width: 100%;
	}

	.navbar-right {
		position: relative;
	}

	.navbar-left{
		margin-top: 50px;
	}

	.navbar-header.active {
		height: 50%;
		transition: all 1s ease-in-out;
	}

*/
}

