:root {
	--tt1-font-size: 20px;
}

/* UTILITY */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

*, :after, :before {
    box-sizing: inherit;
}

body {
	font-family: "Teletext Type 1";
	background-color: black;
	color: white;
	font-size: var(--tt1-font-size);

}

.utf-logo {
    margin-top: 70px;
    color: red;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
}
.logo {
    height: 100px;
}

/* Navigation */

.nav-container {
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;

}


.nav-ul {
    width: 100%;

    align-items: center;

    list-style: none;
    display: flex;
    
    padding: 0px 50px;
    justify-content: space-between;
}

/* Font Panel */

.font-panel-container{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;

}

.font-panel-item {

    width: 33.3333%;
    height: 300px;
    color: white;
    cursor: pointer;
  
   justify-content: space-evenly;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.font-panel-div:hover{
    background-color: black;
    transition: ease-in-out .2s;
}

.font-panel-div{
 
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
 /*    border: 2px solid white;
   background-image: url(../img/grid.svg);
   background-size: 8%;
   background-position: 20px; */
}

.font-panel-item:nth-child(-n+18) .font-panel-div{
    background-color: cyan;
}

.font-panel-item:nth-child(-n+15) .font-panel-div{
    background-color: yellow;
}

.font-panel-item:nth-child(-n+12) .font-panel-div{
    background-color: #FF00FF;
}

.font-panel-item:nth-child(-n+9) .font-panel-div{
    background-color: blue;
}


.font-panel-item:nth-child(-n+6) .font-panel-div{
    background-color: lime;
}

.font-panel-item:nth-child(-n+3) .font-panel-div{
    background-color: red;
}

.font-panel-img{
    height: 70%;
    width: 70%;
}

.font-panel-data{
    display: flex;
    width: 97%;
    justify-content: space-between;
}


.custom {
    display: flex;
    height: 100vh;
    
}
.custom-panel-1 {
    background-color: blue;
    height: auto;
    width: 50%;
    margin: 100px 25px 50px 50px; 
}

.custom-panel-2 {
    
    height: auto;
    width: 50%;
    margin: 100px 50px 50px 25px; 
}

h1{
    font-family: "TeleText Type 2";
    color: blue;
    font-size: 60px;
    text-align: center;
    background-color: white;
    letter-spacing: 1vw;
    
}

p {
    text-align: justify;
    line-height: 150%;
}

.seperator {
    display: flex;
}

.seperator div {
    height: 8px;
    width: 25%;
}


/*#region projects.html */




/* Header */

.projects div{
    display: flex;
    width: 100%;
}
hr {
    margin: 10px 0px;
    border: blue 5px solid;
}

/* Project Panel */

.font-project-panel {
    display: flex;
    height: 320px;
    background-color: blue;
/*     border: 2px solid white; 
   background-image: url(../img/grid.svg);
   background-size: 5%;
   background-position: 20px;*/
}



.font-project-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    width: 25%;
}

.font-project-img img{
   height: 80%;
   width: 80%;
   
}

.font-project-list{
    padding: 20px;
    width: 50%;
}

.font-project-list ul li span{
    left: 10px;
    position: relative;
}
.font-project-list ul li:not(:last-child) {
    margin-bottom: 10px;
}

.font-project-list ul{
    list-style-type: '*';
    list-style-position: inside;
}





/*#endregion projects.html */




@media (max-width: 1024px){
    .font-panel-item {
        width: 50%;
        height: 300px;
        color: white;
        cursor: pointer;
    
    }
    
}

@media (max-width: 540px){
    .font-panel-item {
        width: 100%;
        height: 200px;
    }

    .font-panel-div{
 
        height: 150px;

        width: 95%;

    }
    
}