:root {
    --cyan: #00FFFF;
    --blue: #0000FF;
    --red: #FF0000;
    --green: #00FF00;
    --yellow: #FFFF00;
    --pink: #FF00FF;
    --white: #FFF;
    --black: #000;
}
.text-cyan {
    color: var(--cyan);
}
.text-blue {
    color: var(--blue);
}
.text-red {
    color: var(--red);
}
.text-green {
    color: var(--green);
}
.text-yellow {
    color: var(--yellow);
}
.text-pink {
    color: var(--pink);
}
.text-white {
    color: var(--white);
}
.text-black {
    color: var(--black);
}
.bg-cyan {
    background-color: var(--cyan);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-red {
    background-color: var(--red);
}
.bg-green {
    background-color: var(--green);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-pink {
    background-color: var(--pink);
}
.bg-white {
    background-color: var(--white);
}
.bg-black {
    background-color: var(--black);
}
.p-20 {
    padding: 20px;
}
.p-10 {
    padding: 10px;
}
.my-20 {
    margin: 0px 20px;
}
.m-20{
    margin: 20px;
}
.flex{
	display: flex;
}
.non-select {
    user-select: none;
    -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            
}
a {
    text-decoration: none;

}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
.h2-header {
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.top-nav{
    margin-top: 50px;
}
img {
 
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.typeface-newaustin {
    font-family: "New Austin";
}
.typeface-invetero {
    font-family: "invetero";
}
.typeface-secret {
    font-family: "Secret-VF";
}
.hide {
    opacity: 1;
}
.uppercase {
    text-transform: uppercase;
}
/* .liga {
    font-feature-settings: "liga" off;
}
.salt {
    font-feature-settings: "salt" 1;
}
.calt {
    font-feature-settings: "calt" off;
}
.frac {
    font-feature-settings: "frac" 1;
}
.aalt {
    font-feature-settings: "aalt" 1;
}
.sinf {
    font-feature-settings: "sinf" 1;
}
.ss01 {
    font-feature-settings: "ss01" 1;
}
.ss02 {
    font-feature-settings: "ss02" 1;
}
.ss03 {
    font-feature-settings: "ss03" 1;
}
.ss04 {
    font-feature-settings: "ss04" 1;
}
.ss05 {
    font-feature-settings: "ss05" 1;
}
.ss06 {
    font-feature-settings: "ss06" 1;
}
.ss07 {
    font-feature-settings: "ss07" 1;
}
.ss08 {
    font-feature-settings: "ss08" 1;
}
.ss09 {
    font-feature-settings: "ss09" 1;
}
.ss10 {
    font-feature-settings: "ss10" 1;
}
.ss11 {
    font-feature-settings: "ss11" 1;
}
.ss12 {
    font-feature-settings: "ss12" 1;
}
.ss13 {
    font-feature-settings: "ss13" 1;
}
.ss14 {
    font-feature-settings: "ss14" 1;
}
.ss15 {
    font-feature-settings: "ss15" 1;
}
.ss16 {
    font-feature-settings: "ss16" 1;
}
.ss17 {
    font-feature-settings: "ss17" 1;
}
.ss18 {
    font-feature-settings: "ss18" 1;
}
.ss19 {
    font-feature-settings: "ss19" 1;
}
.ss20 {
    font-feature-settings: "ss20" 1;
}
 */