/* Webfont: FreedomPals-Thin */@font-face {
    font-family: 'FreedomPalsThin';
    src: url('FreedomPals-3D.eot'); /* IE9 Compat Modes */
    src: url('FreedomPals-3D.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FreedomPals-3D.woff') format('woff'), /* Modern Browsers */
         url('FreedomPals-3D.woff2') format('woff2'), /* Modern Browsers */
         url('FreedomPals-3D.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

