/* Webfont: Odiosis-BlackIta0 */@font-face {
    font-family: 'OdiosisBlack';
    src: url('Secret-VF.eot'); /* IE9 Compat Modes */
    src: url('Secret-VF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secret-VF.woff') format('woff'), /* Modern Browsers */
         url('Secret-VF.woff2') format('woff2'), /* Modern Browsers */
         url('Secret-VF.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

